<p id="notice"><%= notice %></p>
<div class="fullform">
<p>
  <strong>First Name: </strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name: </strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email: </strong>
  <%= @user.email %>
</p>

<p>
  <strong>Thumbnail: </strong>
  <%= @user.thumbnail %>
</p>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>