
<%= form_with(model: @bug, local: true, id: 'bugForm') do |form| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id='errorMessage'></div>
  <div class="fullform">
    <div class="col-sm-1">
      <div>
        <%= form.label "User:" %>
        <%= form.select :user_id, options_for_select(User.all.collect do |a| ["#{a.fname}, #{a.lname}", a.id] end), {} %>
      </div>

      <div class="field">
        <%= form.label "Title:" %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label "Description:" %>
        <%= form.text_area :description %>
      </div>

      <div class="field">
        <%= form.label "Type:" %>
        <%= form.select :issue_type, @issue_types.keys %>
      </div>

      <div class="field">
        <%= form.label "Priority:" %>
        <%= form.select :priority, @priorities.keys %>
      </div>

      <div class="field">
        <%= form.label "Status:" %>
        <%= form.select :status, @statuses.keys %>
      </div>
    </div>
  </div><br>
  <div class="actions">
        <%= form.submit data: {disable_with: false} %>
  </div>
<% end %>

<%= javascript_pack_tag 'postValidate', 'data-turbolinks-track': 'reload' %>
